@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="mb-5">Welcome to the XML MACHINE</h1>
    @Html.ActionLink("XSD", "Index", "Machine", new {request="xsd"}, new { @class = "btn btn-danger mb-5" })
    @Html.ActionLink("RELAX NG", "Index", "Machine", new { request = "relax" }, new { @class = "btn btn-danger mb-5" })
    @Html.ActionLink("SOAP - SEARCH BY RATING", "Index", "Machine", new { request = "soap" }, new { @class = "btn btn-danger" })
</div>